/* Estilos para el cuerpo de la página */
body {
    background-color: rgb(240,240,240);
}



/* Estilos para el encabezado 
header {
    background-color: #020202;
    color: rgb(58, 18, 107);
    padding: 20px;
    text-align: center;
}
*/

/*Estilos para la barra de navegación */
nav {
    background-color: #666;
    color: white;
    padding: 5px;
    text-align: center;
}


/* Estilos para el pie de página */
footer {
    background-color: #e3dede4a;
    color: black;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

/* Estilos para el contenido principal 
main {
    padding: 20px;
}

/* Estilos para artículos
article {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
*/


/* Estilos para encabezados */
#rock {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

#rap {
    background-color: rgb(162, 151, 125);
    color: black;
    text-align: center;
    padding: 10px;
}

#flamenco {
    background-color: rgb(209, 196, 6);
    color: black;
    text-align: center;
    padding: 10px;
}


/* Estilos para textos de encabezados */
h1 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
 
h2 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    
}

h3 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}



/* Estilos para los párrafos */
p {
    font-family: 'Reboto', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
}


/* Estilos para la clase "centrado" */
.centrado {
    display:flex; 
    justify-content: center; 
    padding: 10px 0px; 
}

/* Estilos para la clase "adaptativo" */
.adaptativo {
    max-width: 100%;
}


/* Estilos para la clase "noticia" */
.noticia {
    background-color: rgb(230,230,230);
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    padding: 10px 0px; 
}

/* Estilos para la clase "noticiaIndex" */
.noticiaIndex {
    background-color: rgb(230,230,230);
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    padding: 20px; 
}






/* Estilos para enlaces */
a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}



/* Estilos para las imágenes
img {
    max-width: 100%; // Imágenes se ajustan al contenedor
    height: auto; // Proporcional al ancho
    display: block; // Evita espacio adicional debajo de las imágenes
    margin: 0 auto; // Centra la imagen horizontalmente
}
*/


/* Estilos para las listas 
ul {
    list-style-type: disc; // Marcador de viñetas
}
*/


/* Estilos para tablas 
table {
    width: 100%;
    border-collapse: collapse;
}

// Estilos para celdas de tabla
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

// Estilo para la cabecera de la tabla
th {
    background-color: #f2f2f2;
}

*/