/* Estilos para el cuerpo de la página */
body {
    background-color: rgb(240,240,240);
}


/* Estilos para el encabezado */
header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Estilos para la barra de navegación */
nav {
    background-color: black;
    color: white;
    padding: 4px 0px;
    text-align: center;
    list-style: none;   
}
.nav-links li{
    display:inline-block;
    padding: 0 10px;
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links a{
    font-size: 100px;
    
}


/* Estilos para el pie de página */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}


/* Estilos ID para encabezados por secciones */
#rock {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

#rap {
    background-color: rgb(162, 151, 125);
    color: black;
    text-align: center;
    padding: 10px;
}

#flamenco {
    background-color: rgb(95, 95, 95);
    color: black;
    text-align: center;
    padding: 10px;
}


/* Estilos para textos de "encabezado" */
h1 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
 
h2 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    
}

h3 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

h4 {
    font-family: 'Reboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}


/* Estilos para la barra separadora en index */
hr {
    width: 50%;
}


/* Estilos para los párrafos */
p {
    font-family: 'Reboto', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 10px;
}

/*Estilos para el contenedor, imagen y video. Todos responsive*/

figure {
    margin: 0 auto;
    padding: 0;
}

picture{
    display: flex;
    justify-content: center;
    
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

.youtube {
    display: flex;
    justify-content: center;

}


/* Estilos para la clase "noticia" */
.noticia {
    background-color: rgb(230,230,230);
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    padding: 10px; 
}


/* Estilos para la clase "noticiaIndex" */
.noticiaIndex {
    background-color: rgb(230,230,230);
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    padding: 20px; 
}


/* Estilos para la clase "centrado" */
.centrado {
    display:flex;
    justify-content: center;
    padding: 20px 0px;
}

/* Estilos para enlaces */
a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
}
aside{
    width: 5%; /*Ancho del aside*/
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(3, 187, 233);  /*color del fondo*/
    padding: 0%;  /*Espacio del interior*/
    box-sizing: border-box; /*Relleno y borde en el tamaño total*/
    
}


/* Estilos para las listas */
ul {
    list-style-type: disc; /* Marcador de viñetas */
    margin: 0 auto;
}


/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2b7;
}

/* Estilos para celdas de tabla */
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Estilo para la cabecera de la tabla */
thead {
    background-color: #f2f2f2b7;
}

